
.label {
     -fx-text-fill: white;
     -fx-font-family: Arial;
}

.text-field {
    -fx-text-fill: white;
}

.text-area {
	-fx-text-fill: white;
}

.text-area *.content {
    -fx-background-color:  #B1B2FF;
    -fx-border-color: #B1B2FF;
}

.mod *.content {
	 -fx-background-color:  black !important;
} 

.button {
	-fx-cursor: hand;
}

.scroll {
	-fx-background: black;
}
